<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.aagu.provider">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="aagu.NumberLocationProvider.READ" android:protectionLevel="normal"/>
    <permission android:name="aagu.NumberLocationProvider.WRITE" android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_phone"
        android:label="@string/app_name">

        <provider
            android:name="com.aagu.provider.NumberLocationProvider"
            android:authorities="com.aagu.provider.NumberLocation"
            android:readPermission="aagu.NumberLocationProvider.READ"
            android:writePermission="aagu.NumberLocationProvider.WRITE"
            android:exported="true" />
    </application>

</manifest>